<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HAISETU</title>
</head>
<body>
    <h1>暗号化したい文字列をいれてくれ！</h1>
    <form method="POST">
        <label for="tinko">文字列</label>
        <input type="text" name="tinko">
        <label for="manko">暗号化キー(100~896)</label>
        <input type="number" name="manko", min="100",max="896",step="1">
        <input type="submit" value="突撃">
    </form>
</body>
</html>